/*************\
FOR PS 1.6 ONLY
\*************/

.icon-Sellermania {
    width: 1.28571em;
    text-align: center;
}

.icon-Sellermania:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/sellermania_svg.svg') center center no-repeat;
    background-size: 20px;
    display: inline-block;
    margin-top: 5px;
}